# Loaded automatically by "direnv" into current bash environment
# Keeps track of $RESHOME var. Use the 'r' alias to quickly cd $RESHOME
export BENMON=$PWD
# Load your custom vars from .env:
dotenv
PATH_add /scripts/mbutty/bmscripts
[[ -z $CTLID ]] && export CTLIP=$(horcctl -D | awk -F- '{print $2}')
[[ -z $DKCSN ]] && export DKCSN=$(raidqry -l | awk '!/Serial#/ {print $6}')

echo "HORCMINST=[$HORCMINST] DKCSN=[$DKCSN] CTLIP=[$CTLIP] SVPIP=[$SVPIP] LGS=[$LGS]"


